<div class ="jumbotron">
  <h2> Commodity Price </h2>
</div> 

<% @items.each do | item | %>
  <table class='table table-striped'>
    <thead>
    <tr>
      <th> Name</th>
      <th> Last Trade Price</th>
      <th> Last Trade Date </th>
      <th> Last Trade Time</th>
      <th> Change in Price </th>
    </tr>
    </thead>
    <tbody>
      <tr> 
        <td> e </td>
        <td> d </td>
        <td> a </td>
        <td> b </td>
        <td> c </td> 
      </tr>
    </tbody>
  </table>
  <%end%>
