<div class ="jumbotron">
  <h2> Current Prices </h2>
</div> 
<table class='table table-striped'>
  <thead>
    <tr>
      <th> Name</th>
      <th> Last Trade Price</th>
      <th> Last Trade Date </th>
    </tr>
  </thead>
  <tbody>
  <% if @quote_data.present? %>
  <%@quote_data_h = eval(@quote_data) %>
  <% @quote_data_h.each do |item| %>
    <tr> 
      <td> <%= item["Name"] %> </td>
      <td> <%= number_to_currency item["LastTradePriceOnly"] %> </td>
      <%date=(DateTime.parse(item["LastTradeDate"])).strftime('%m\%d\%y') %>
      <%time=item["LastTradeWithTime"].split(' -').first %>
      <td> <%= [date, time].join(' ') %> </td>
    </tr>
  <%end%>
  <%end%>
  </tbody>
</table>
