<div class ="jumbotron">
  <h2> Current Prices </h2>
</div> 
<div class = "row">
  <div class = "col-md-4">
    <%=link_to 'Run Now', retrieve_data_path %>
  </div>
  <div class = "col-md-4">
    <%#=link_to 'Start Capture', start_capture_path %>
  </div>
  <div class = "col-md-4">
    <%#=link_to 'Stop Capture', stop_capture_path(self.jid) %>
  </div>
</div>
<table class='table table-striped'>
  <thead>
    <tr>
      <th> Name</th>
      <th> Last Trade Price</th>
      <th> Last Trade Date </th>
    </tr>
  </thead>
  <tbody>
  <% @quote_data.each do |item| %>
    <tr> 
      <td> <%= item["Name"] %> </td>
      <td> <%= number_to_currency item["LastTradePriceOnly"] %> </td>
      <%date=(DateTime.parse(item["LastTradeDate"])).strftime('%m\%d\%y') %>
      <%time=item["LastTradeWithTime"].split(' -').first %>
      <td> <%= [date, time].join(' ') %> </td>
    </tr>
  <%end%>
  </tbody>
</table>
